@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
html {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  height: 100vh;
}

a {
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

a:hover {
  color: #57AD56;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  max-width: 972px;
  margin: 0 auto;
}

.page-up {
  cursor: pointer;
  display: block;
  background-color: #49A144;
  padding: 0;
  width: 60px;
  height: 60px;
  position: fixed;
  right: 16px;
  bottom: 60px;
  z-index: 3;
  outline: none;
  border: none;
}

.header {
  position: fixed;
  background-color: #fff;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
          box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0 25px;
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list-item + .header__list-item {
  margin-left: 27px;
}

.header__list-item__btn {
  font-weight: 500;
  color: #1D1D1D;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  padding: 14px 20px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.header__list-item__btn:hover {
  color: #65d664;
  border: 1px solid #3B3B3B;
  background-color: #3B3B3B;
}

.header__list-item__basket svg:hover path {
  fill: #57AD56;
}

.search {
  padding-top: 144px;
  margin-bottom: 56px;
}

.search__input {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(117, 117, 117, 0.3);
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
}

.search__input::-webkit-input-placeholder {
  color: rgba(98, 98, 98, 0.5);
}

.search__input:-ms-input-placeholder {
  color: rgba(98, 98, 98, 0.5);
}

.search__input::-ms-input-placeholder {
  color: rgba(98, 98, 98, 0.5);
}

.search__input::placeholder {
  color: rgba(98, 98, 98, 0.5);
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 308px;
  height: 256px;
  background-color: #00000036;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.restaurants {
  padding-bottom: 100px;
}

.restaurants__title {
  font-size: 22px;
  line-height: 34px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 16px;
}

.restaurants__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 7px;
  grid-row-gap: 16px;
}

.restaurants__card {
  width: 327px;
  padding-bottom: 20px;
}

.restaurants__card-imglink {
  display: block;
  margin-bottom: 16px;
  position: relative;
}

.restaurants__card-imglink:hover .shadow {
  opacity: 1;
}

.restaurants__card-name {
  display: block;
  margin-bottom: 4px;
  color: #1d1d1d;
  font-size: 16px;
  line-height: 24px;
}

.restaurants__categories {
  margin-bottom: 4px;
}

.restaurants__cost, .restaurants__food-category {
  font-size: 16px;
  line-height: 21px;
  color: #626262;
}

.restaurants__food-category:hover {
  color: #3B3B3B;
}

.restaurant {
  margin-top: 80px;
  padding: 80px 0;
  background-image: url(../images/restaurants/Restaurant/restaurant-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.restaurant__card {
  background-color: #fff;
  padding: 38px;
  max-width: 320px;
  border-radius: 10px;
}

.restaurant__title {
  font-size: 36px;
  line-height: 42px;
  font-weight: 400;
  font-style: normal;
  color: #1D1D1D;
  margin-bottom: 54px;
}

.restaurant__card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurant__time {
  padding: 8px 16px;
  background-color: #262626;
  border-radius: 16px;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
}

.menu {
  padding: 30px 0;
  background-color: #fff;
  border-bottom: 1px solid rgba(117, 117, 117, 0.2);
  margin-bottom: 56px;
}

.menu__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__tabs-item + .menu__tabs-item {
  margin-right: 40px;
}

.menu__tabs-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #626262;
}

.dishes {
  padding-bottom: 31px;
}

.dishes__title {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  margin-bottom: 32px;
}

.dishes__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dishes__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 430px;
  width: 470px;
  margin-bottom: 49px;
  border: 1px solid rgba(117, 117, 117, 0.2);
  border-radius: 3px;
}

.dishes__info {
  padding: 16px 0 16px 16px;
}

.dishes__name {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1D1D1D;
  margin-bottom: 4px;
}

.dishes__description {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #626262;
  margin-bottom: 58px;
}

.dishes__price {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
}

.footer {
  background-color: #262626;
  padding: 40px 0px;
}

.footer__logo-box {
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 32px;
}

.footer-top {
  padding-bottom: 17px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 40px;
}

.footer-top__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-top__item {
  max-width: 250px;
  margin-right: 97px;
}

.footer-top__link {
  display: block;
  margin-bottom: 23px;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
}

.footer-top__select-box {
  background-color: #3B3B3B;
  margin-bottom: 33px;
  padding: 12px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-top__select-img {
  display: block;
  margin-right: 8px;
}

.footer-top__language-select {
  background-color: transparent;
  border: none;
  color: #fff;
  padding-right: 106px;
  cursor: pointer;
}

.footer-top__text {
  color: #fff;
  margin-bottom: 22px;
}

.footer-top__text span {
  color: #49A144;
}

.footer-top__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-top__social-item + .footer-top__social-item {
  margin-left: 20px;
}

.footer-top__social-link:hover svg path {
  fill: #49A144;
}

.download-shadow {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 98%;
  height: 38px;
  background-color: #00000052;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  border-radius: 4px;
}

.footer-stores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-stores__link {
  display: block;
  position: relative;
}

.footer-stores__link:hover .download-shadow {
  opacity: 1;
}

.footer-stores__apple {
  margin-right: 40px;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
}

.footer-bottom__item, .footer-bottom__link {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 720px;
  }
  .page-up {
    width: 55px;
    height: 55px;
  }
  .shadow {
    width: 340px;
    height: 283px;
  }
  .restaurants__title {
    margin-bottom: 25px;
  }
  .restaurants__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .restaurants__card {
    width: 340px;
  }
  .restaurants__card-img {
    width: 340px;
  }
  .footer-top__language-select {
    padding-right: 77px;
  }
  .footer-top__item {
    margin-right: 79px;
  }
  .dishes__item {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .container {
    max-width: 315px;
  }
  .page-up {
    width: 45px;
    height: 45px;
  }
  .shadow {
    width: 315px;
  }
  .header__basket {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-right: 20px;
  }
  .header__list-item__btn {
    padding: 10px 15px;
  }
  .search__input {
    width: 98%;
  }
  .restaurants__card {
    width: 315px;
  }
  .restaurants__card-imglink {
    margin-bottom: 8px;
  }
  .restaurants__card-img {
    width: 315px;
  }
  .restaurant {
    background-image: url(../images/restaurants/Restaurant/restaurant-adaptice-bg.jpg);
    background-size: cover;
    height: 256px;
    padding-bottom: 163px;
    margin-bottom: 110px;
  }
  .restaurant__card {
    position: absolute;
    left: 10px;
    top: 205px;
    padding-top: 24px;
    padding-bottom: 24px;
    -webkit-box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
            box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
    border-radius: 2px;
  }
  .restaurant__card-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .restaurant__title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 40px;
  }
  .footer {
    padding-bottom: 20px;
  }
  .footer-top {
    padding-bottom: 0;
    margin-bottom: 28px;
  }
  .footer-top__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-top__item {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .footer-top__social-list {
    margin-bottom: 15px;
  }
  .footer-stores {
    padding-bottom: 25px;
  }
  .footer-stores__apple {
    margin-right: 20px;
  }
  .footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 20px;
  }
  .footer-bottom__item {
    margin-bottom: 15px;
  }
}
/*# sourceMappingURL=style.css.map */